body {
    background: rgb(226, 104, 23);
    font: Normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.280);;
}

select {
    width: 185px;
    display: block;
    margin-top: 20px;
    margin-bottom: 5px;
    padding: 5px;
    font: 500 12pt Arial;
}

div#res {
    margin-top: 15px;
    line-height: 30px;
}

input#txtnum {
    width: 90px;
    height: 22px;
    font: 500 13pt Arial;
    outline: 0;
}

input#botao {
    background: rgb(105, 238, 28);
    width: 80px;
    height: 29px;
    border: solid 1px green;
    outline: 0;
}

input#botao:hover {
    background: rgb(83, 196, 17);
}

footer {
    color: white;
    text-align: center;
    font-style: italic; 
}

footer a {
    text-decoration: none;
    color: inherit;
}